nodejs-server-server-generated.zip
.DS_Store
node_modules
server/coverage/clover.xml
server/coverage/coverage-final.json
server/coverage/lcov-report/base.css
server/coverage/lcov-report/block-navigation.js
server/coverage/lcov-report/favicon.png
server/coverage/lcov-report/index.html
server/coverage/lcov-report/prettify.css
server/coverage/lcov-report/prettify.js
server/coverage/lcov-report/sort-arrow-sprite.png
server/coverage/lcov-report/sorter.js
server/coverage/lcov-report/components/booking.js.html
server/coverage/lcov-report/components/course.js.html
server/coverage/lcov-report/components/db.js.html
server/coverage/lcov-report/components/index.html
server/coverage/lcov-report/components/lecture.js.html
server/coverage/lcov-report/components/user.js.html
server/coverage/lcov-report/controllers/index.html
server/coverage/lcov-report/controllers/Lectures.js.html
server/coverage/lcov-report/service/AuthenticationService.js.html
server/coverage/lcov-report/service/BookingsService.js.html
server/coverage/lcov-report/service/CourseService.js.html
server/coverage/lcov-report/service/index.html
server/coverage/lcov-report/service/LecturesService.js.html
server/coverage/lcov-report/utils/index.html
server/coverage/lcov-report/utils/writer.js.html
server/coverage/lcov-report/controllers/Course.js.html
server/coverage/lcov-report/controllers/Email.js.html
server/coverage/lcov-report/controllers/Bookings.js.html
server/coverage/lcov-report/controllers/Parser.js.html
server/coverage/lcov-report/controllers/NewParser.js.html
.gitignore
server/coverage/lcov-report/controllers/Uploads.js.html
