.StudentHeader{
    background-color:#151A4F;
    color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.BookSeatContainer{
    padding-top: 20px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    min-width: 98vw;
    height: 100vh;
}

.StudentCalendarContainer{
    background-color: #F6F6F6;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100vh;
}

.StudentCalendarLegend{
    padding-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.LegendElement{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box{
    margin-top: 20px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.red{
    background-color: #E3170A;
}

.green{
    background-color: #179873;
}

.blue{
    background-color: #B9E6FF;
}

.rcb-toolbar{
    background-color: #151A4F;
}

.rbc-allday-cell{
    display: none;
}

.rcb-time-header{
    color: #F6F6F6;
    background-color: #151A4F;
    height: 50px;
}
.rcb-time-header-gutter{
    color: #F6F6F6;
    background-color: #151A4F;
    height: 50px;
}
.rbc-time-gutter{
    color: #F6F6F6;
    background-color: #151A4F;
}

button{
    color: #F6F6F6;
    background-color: #151A4F;
}

.nav-link{
    font-weight: 600;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.TableContent{
    color:#151A4F;
    background-color: white;
    text-decoration: none;
}

.table{
    color:#F6F6F6;
    background-color: #151A4F;
}

.table-header{
    font-size: 600;
}

button{
    outline: none;
    font-weight: 600;
    border: none;
    padding: 2px;
    border-radius: 5px;
}

button.Not_Book{
    background-color: #E3170A;
}

button.Book{
    background-color: #179873;
}

button.Online{
    background-color: #B9E6FF;
}