.ProfessorHeader{
    background-color:#151A4F;
    color: #F6F6F6;
    min-height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#MyLecturesProfessorContainer{
    background-color:#F6F6F6;
    color: #151A4F;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

nav{
    background-color:#151A4F;
    text-decoration: none;
}

.btn {
    padding-left: 0px;
    width:90vw;
    text-decoration: none;
    color: #151A4F;
}

.btn:hover {
    text-decoration: none;
    color: #151A4F;
}

.nav-link{
    color:#F6F6F6;
    text-decoration: none;
    text-align: center;
}

.nav-link:hover {
    color: #B9E6FF;

}

.accordion{
    width:90vw;
}

.card-header{
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    background-color: #151A4F;
    text-decoration: none;
}

.card-header:hover{
    background-color: #151A4F;
    color: #B9E6FF;
    text-decoration: none;
}

.col{
    padding-left: 0px;
    padding-right: 0px;
}

.HeaderText{
    color: #F6F6F6;
    text-decoration: none;
}

.StudentsText{
    color: #151A4F;
}
